.row {
    margin: 0px;
}

.table-container {
    margin-top: 20px;
}

td.desc .popover {
    max-width: 50% !important;
}

.table-container .panel .table > thead > tr > th:last-child,
.table-container .panel .table > tbody > tr > td:last-child {
    text-align: center;
}

/*CSS for Edit/Create page*/
.edit-page textarea {
    resize: none;
}

.edit-page button,
.edit-page a {
    font-size: medium;
}

.edit-page .pull-right a{
    color:dodgerblue;
    margin-right:20px;
    padding-top:30px;
}

.edit-page .form-group{
    margin-bottom:20px;
}

.edit-page .panel-body{
    padding:20px;
}
.edit-page .select2-container .select2-choice > .select2-chosen{
    font-size:12px;
}