@model OnlineBazaar.Models.CategoryViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="panel panel-default mb0">
    <div class="panel-heading ui-draggable-handle">
        <h3 class="panel-title"><strong>Edit </strong> Category</h3>
    </div>
    @using (Html.BeginForm("Edit", "Category", FormMethod.Post, Model))
    {
        @Html.HiddenFor(x=>x.CategoryID)
        @Html.Partial("_EditAdd", Model)
    }
</div>
